.main-container {
  padding-top: 20px;
  display: flex;
  justify-content: space-around;
  margin: 0 100px;
}

.container-left {
  flex: 0 0 30%;
  align-items: center;
  position: sticky !important;
  top: 0;
}

.container-center {
  flex: 1 0 auto;
  padding: 10px;
  margin-right: 20px;
}

.container-right {
  flex: 0 0 20%;
  display: block;
}

.image-container {
  width: 200px;
}
.flex-element{
  margin: 20px;

}

.button-box {
  display: block;
  align-items: right;
  height: 400 px;

}

.info-box-gray {
  box-shadow: 1 1 3px rgba(0,0,0,0.5);
}

.headline {
  padding-top: 0px;
}

.skills-box {
  background-color: rgba(0,0,0,0.05);
  width: 400px;
  height: 400px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  position: relative 50px 0 0 0;
  margin-top: 5px;
}

.row-container {
  padding: 20px;
  margin: 20px 20px;
}

.verified-info {
  margin: 0 20px 20px 20px;
}

.flexbox-row {
  display:flex;
  justify-content: space-between;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  height: 400px;
}

.box-header {
}

.grid-element {
  padding: 5px;
  text-decoration: none;
}


// .box-list {
//   text-decoration: none;
// }

// .e1-from-top {
//   grid-row: 2 / span 1;
//   grid-column: 1 / span1;
// }
// .e2-from-top {
//   grid-row: 3 / span 1;
//   grid-column: 1 / span1;
// }
// .e3-from-top {
//   grid-row: 4 / span 1;
//   grid-column: 1 / span1;
// }
// .e4-from-top {
//   grid-row: 5 / span 1;
//   grid-column: 1 / span1;
// }
// .e5-from-top {
//   grid-row: 6 / span 1;
//   grid-column: 1 / span2;
// }

// .e1-from-top-right {
//   grid-row: 2 / span 1;
//   grid-column: 2 / span1;
// }
// .e2-from-top-right {
//   grid-row: 3 / span 1;
//   grid-column: 2 / span1;
// }
// .e3-from-top-right {
//   grid-row: 4 / span 1;
//   grid-column: 2 / span1;
// }
// .e4-from-top-right {
//   grid-row: 5 / span 1;
//   grid-column: 2 / span1;
// }
// .sub-container {
//   display: flex;
//   align-items: center;
//   justify-content: space-around;
// }

// .ctas {
//   display: flex;
//   align-items: center;
//   justify-content: space-around;
// }

// .headline {
//   text-align: center;
//   padding-bottom: 30px;
// }


