.complete-page {
  background-image: url(https://i.pinimg.com/originals/52/d5/34/52d5345d04811ec3a3cef02beb0fbc10.jpg);
}
.main-container {
  margin-left: 200px;
  margin-right: 200px;
  padding: 50px;
  color: white;
}

.sub-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.ctas {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.headline {
  text-align: center;
  padding-bottom: 30px;
}
