.icons-container {
  padding: 15px;
}
.cards-container {
  display: flex;
  flex-wrap: wrap;
  width: auto;
}

.content {
  display: flex;
  justify-content: space-around;
}
h3 {
  margin-left: 15px;
  font-weight: bold;
}
