// Specific CSS for your home-page
.main-page-home {
  background-image: linear-gradient(to right, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), asset-url('queen-klein.jpg');
  height: calc(100vh - 70px);
  background-size: cover;
  margin-top: 0px;
}
.body-home {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 0px;
}
.body-home h1 {
  margin: 0px;
  color: white;
  text-align: center;
  font-size: 72px;
  font-weight: bold;
}
.headline-home {
  padding-top: 150px;
}
.subtitle  h3 {
  margin: 0px;
  color: white;
  text-align: center;
  font-size: 28px;
  font-family: 'Quattrocento', 'sans-serif' !important;
}
.search-home {
  display: flex;
  align-items: center;
  margin-right: 250px;
  margin-left: 250px;
  margin-top: 50px;
}
.searchbox-home {
  display: flex;
  .form-control {
    width: 460px;
  }
}
.searchbutton {
  flex: 0 0 auto;
  background-color: $green;
  height: 39px;
  color: white;
  width: 100px;
  border-color: $green;
}
