.main-container-user {
  margin-right: 200px;
  margin-left: 200px;
}
.top {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.card-own-gm {
  flex: 1 1 auto;
  margin:10px;
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  transition: all 0.3s ease;
}
.card-own-gm-body {
  height: 180px;
  background-size: cover;
  color: white;
  position:relative;
}
.card-own-gm-body:hover {
  background-image: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.3)),
}
.footer-own-gm {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:10px;
}
