.icons {
  text-align: center;
}

.gcard {
  flex: 0 0 auto;
  width: auto;
  height: 200px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  padding: 20px;
  justify-content: center;
  text-align: center;
}
.gcontainer {
  text-align: center;
  margin: 10px;
  padding: 10px;
}
.row {
  display: flex;
  align-content: space-around;
}
.grandma-image {
  width: 100%;
  height: 100px;
  stretch: cover;

}
