<div class="main-page-home">
 <div class="body-home">
  <div class="headline-home">
    <h1> Book a Grandmom </h1>
  </div>
  <div class="subtitle">
    <h3> Find a Grandmom in your region <br> and have an awesome time! </h3>
  </div>
  <div>
    <div class="search-home">
        <%= form_tag grandmoms_path, method: :get, class: 'searchbox-home' do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            id: 'grandmom_address',
            placeholder: "Type in your address"
          %>
        <%= submit_tag 'Search', :class => 'searchbutton' %>
        <% end %>
    </div>
  </div>
 </div>
</div>
