<h1>Grandmoms#index</h1>
<p>Here you can see all the Grandmoms existing on planet earth</p>

<ul>
  <% @grandmoms.each do |grandmom| %>
    <li>
      <%= link_to grandmom.last_name, grandmom_path(grandmom.id) %>
      <%= image_tag grandmom.photo.url(:thumbnail) %>
    </li>
  <% end %>
</ul>
