.btn-primary {
  background-color: $green;
  color: white;
  border: 1px solid $green;
  padding: 3px 30px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  margin-right: 16px;
}
.btn-medium:hover {
  opacity: 1;
  text-decoration: none;
  color: #999999;
}
