
.profile-image-big-square {

  background-size: cover;
  background-position: center;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
  border-radius: 20px;
}
.profile-image-small-square {
  height: 100px;
  background-size: cover;
  background-position: center;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
  border-radius: 20px;
  margin: 30px;
}
